{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Web Firewall" %} - <small>{% trans "edit policy" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/policy/">{% trans "List" %}</a></li>
    <li><a href="#" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
{% endblock %}

{% block content %}
    <script type=text/javascript>
        function(element){
            tab = document.getElementById("tab-"+element.id);
            tr = document.createElement("tr")
            th= document.createElement("th")
            th.innerHTLM = "blabla"+element.id
            
        }
    </script>

    <div id="main_content_1" class="main_content">
    <form id="form" method="post" action="">
    <table>
        {{form}}
        <tr>
        <th colspan="2"><input type="submit" name="add_button" value="{% trans "Save and select files" %}"/></th>
        </tr>
    </table>
        <table>
            {% if policy_files %}

            {% for pfile in policy_files %}
            <tr>
                <th>{{pfile.fichier.name}}</th>
                <td>
                    {% if not noedit %}
                    <a href="ignorerules/{{ pfile.id }}">
                        <img id="add" src="/img/vulture2/add.png" onclick="add_rule(this)" alt="add" />
                    </a>{% endif %}
                </td>
            </tr>

                {% for ignorerule in pfile.ignorerules_set.all %}
                    <tr >
                        <th style="text-align:right;
                                   background-color:white;
                                   color:grey;">
                                   
                                   {% trans "ignored rule :" %}                     
                                   {{ ignorerule.rules_number }}</th>
                        <td>
                            <a href="ignorerules/{{ pfile.id }}/del/">
                                <img id="del" src="/img/vulture2/trash.png" alt="delete" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}

            {% endif %}
        </table>
        <tr>
        <th colspan="2"><input type="submit" name="save_button" value="{% trans "Save settings" %}" /></th>
        </tr>
    </form>
    </div>
{% endblock %}
