{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "System" %} - <small>{% trans "Groupe view" %}</small>
{% endblock %}

{% block tabs %}
    <li><a href="/group/">{% trans "List" %}</a></li>
    <li><a href="#" id="main_tab_1" class="active">{% trans "Main settings" %}</a></li>
{% endblock %}

{% block content %}
    <div id="main_content_1" class="main_content">
    <form method="post" action="">
    <table>
        {{form}}
    <tr>
    <th colspan="2"><input type="submit" value="{% trans "Save settings" %}" /></th>
    </tr>
    </table>
    <table>
        {% for group in groups %}
        <tr><th>{{group.name}}</th><th>{% trans "Select"%}</th></tr>
        {%for fichier in group.fichier_set.all%}
        <tr>
            <td>{{fichier.name}}</td><td><input type="checkbox" name="file_{{fichier.pk}}"/></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    </form>
    </div>
{% endblock %}
